@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

html, body {
  background:#fefefe;
	margin: 0;
	padding 0;
}

body {
	font: 1.1em "Vollkorn", Palatino, Times;
	color: #444;
	line-height: 1.2;
	text-align: justify;
	}

main {
	margin: auto;
  max-width: 70em;
	width: 62%;
}

main {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}

footer {
	text-align: right;
	margin:50px;
}

footer small {
	font-style: italic;
	font-size: 0.8em;
}

video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	padding-left: 1em;
}
nav p {
	margin: 0;
}

h1 {
	margin-top: 0;
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

p {
	margin-top:0;
	-webkit-hypens:auto;
	-moz-hypens:auto;
	hyphens:auto;
}

ul {
	list-style: square;
	padding-left:1.2em;
}

ol {
	padding-left:1.2em;
}

blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
}

pre, code {
	padding: 0.3em;
}

pre {
	background: #ddd;
}

code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
}

a {
	font-size: .9em;
	text-decoration: none;
}

a::before {
	content: "»";
}

a:hover {
	border-bottom: 1px solid;
}

a img {
	border:none;
}

h1 a, h1 a:hover {
	color: #444;
	text-decoration: none;
	margin: 0;
	padding 0;
}

.main-header > h1 {
	float: left;
	padding: 0.3em;
  background-color: #444;
  color: #fefefe;
}

.main-header {
	size: 100%;
	border-top: 7px solid;
	border-bottom: none;
	margin: 0;
	padding: 0;
}

.main-header ul {
	padding-top: .3em;
	padding-left: 1.3em;
	display: inline-block;
	margin: 0px;
}

.main-header li, .tag-preview {
	list-style: none;
	padding: 1em 0.3em;
}

.main-header li {
	float: left;
	font-size: 1.2em;
}

.main-header a {
	color: #444;
}

header {
	border-bottom: 1px solid;
	margin-bottom: 1.3em;
	padding-bottom: 1em;
}
